<!--The content below is only a placeholder and can be replaced.-->
<div class="row">
    <div class="col-6">
      <div class="list-group">
        <input type="text" placeholder="Search.." name="search" [(ngModel)]="name" (input)="search()">
        <a href="#" (click)="listData(l,i)" class="list-group-item" *ngFor="let l of list, let i = index">{{l.name}}</a>
      </div>
      <button (click)="addData()" type="button" class="btn btn-primary">Add</button>

      
     <div  *ngIf="addForm">
      <form #formAddData="ngForm" (ngSubmit)="addUser(formAddData.value); formAddData.reset()">
        <div class="form-group">
          <label for="id">Id:</label>
          <input type="number" class="form-control" id="id" [(ngModel)]="id" name="id">
        </div>
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" class="form-control" id="name" [(ngModel)]="name" name="name">
        </div>
        <div class="form-group">
          <label for="salary">Salary:</label>
          <input type="text" class="form-control" id="salary"  [(ngModel)]="salary" name="salary">
        </div>
        <div class="form-group">
            <label for="dob">Date Of Birth:</label>
            <input type="text" bsDatepicker class="form-control" id="dob"  [(ngModel)]="dob" name="dob" [bsConfig]="datePickerConfig">
          </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
     </div>
    </div>

    <div class="col-6">
      <div *ngIf="active">
      <div class="list-group">
          <li class="list-group-item">{{ empName }}</li>
          <li class="list-group-item">{{ empSalary }}</li>
          <li class="list-group-item">{{ empDob | date: 'dd/MM/yyyy'}}</li>
      </div>
      <button type="button" (click)="editClick()" class="btn btn-warning">Edit</button>
      <button type="button" (click)="deleteClick()" class="btn btn-danger">Delete</button>
        </div>
        
        <div  *ngIf="editForm">
          <form #formAddData="ngForm" (ngSubmit)="editUser(fetchData)">
            <div class="form-group">
              <label for="id">Id:</label>
              <input type="number" class="form-control" id="id" [(ngModel)]="fetchData.id" name="fetchData.id">
            </div>
            <div class="form-group">
              <label for="name">Name:</label>
              <input type="text" class="form-control" id="name" [(ngModel)]="fetchData.name" name="fetchData.name">
            </div>
            <div class="form-group">
              <label for="salary">Salary:</label>
              <input type="text" class="form-control" id="salary"  [(ngModel)]="fetchData.salary" name="fetchData.salary">
            </div>
            <div class="form-group">
              <label for="dob">Date Of Birth:</label>
              <input type="text" bsDatepicker class="form-control" id="dob"  [(ngModel)]="fetchData.dob" name="fetchData.dob" [bsConfig]="datePickerConfig">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        
    </div>
  </div>
